<div class="bg-secondary-0 px-4 lg:px-14">
  <div class="flex items-center justify-between py-10">
    <img src="assets/Logo1.webp" alt="logo" class="max-w-[40%]" />
    <ul class="text-white text-lg font-semibold">
      <li><a href="/" class="hover:underline">Dashboard</a></li>
      <li><a href="/" class="hover:underline">Daftar Mobil</a></li>
      <li><a href="/" class="hover:underline">Chat</a></li>
      <li><a href="/" class="hover:underline">Komparasi</a></li>
    </ul>
    <div class="flex-none text-white">
      <h3 class="font-bold text-xl mb-3">Contact Person</h3>
      <p class="font-medium text-md">Email : secondrive@gmail.com</p>
      <p class="font-medium text-md">Whatsapp : +6212345678909</p>
    </div>
  </div>
  <div class="border-t-2 border-primary-0 py-4">
    <p class="text-primary-0 text-md text-center">All Rights Reserved • Copyright SeconDrive 2024 in Semarang</p>
  </div>
</div>
