<div class="bg-blue-300 py-3 px-2 flex justify-between items-center">
    <img src="../assets/Logo1.webp" alt="logo" class="w-44">
    <ul class="flex flex-cols gap-10 text-lg font-semibold">
        <li ><a href="/" class="hover:underline">Home</a></li>
        <li ><a href="/" class="hover:underline">Product</a></li>
        <li ><a href="/" class="hover:underline">Testimoni</a></li>
        <li ><a href="/" class="hover:underline">About Us</a></li>
    </ul>
    <a href="/" class="px-5 py-2 bg-blue-800 rounded-lg text-white text-md font-bold hover:bg-blue-600 transition-all duration-200 ease-in-out">Login</a>
</div>